h2{
    color: green; font-size: 30px;
}
p{
    font-size: 20px;
}
table{
    border-color: royalblue;
    font-size: 20px;
}
td{
    color: green;
}
form p {
    font-size: 20px; color: blue; 
}
.a more:hover{
    color: blue;

}